.form-control {


}

.form-group, .btn {
    margin-left: 15px;
    font-weight: bold;
    margin-top: 5px;
}
.jumbotron{
    background-color: powderblue;


}
h1 {
    font-family: "Bodoni MT", serif;
    font-weight: bolder;
}
.lead {
    font-family: "Berlin Sans FB Demi", serif;
    font-size: larger;
    
}